# Expo
.expo/
.expo-shared/
dist/
web-build/

# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn
.yarn-integrity

# Bundle
*.jsbundle

# CocoaPods (iOS)
ios/Pods/
ios/build/

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
*.apk
*.ap_
*.aab

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Temporary files
*.log
*.pid
*.seed
*.pid.lock

# Ignore chaves de API (MUITO IMPORTANTE!)
.env.local
.env.development.local
.env.test.local
.env.production.local
google-services.json
GoogleService-Info.plist